# **Librerias necesarias**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

# **Obtención de los datos**

In [2]:
dataset=pd.read_csv('../db/transacDC2017.csv',sep=';')

In [3]:
dataset.head()

,client_id,date,mcc,country_code,amount_sol,amount_usd,nb_transaction,client_age,client_gender,debit_type,merchant_id,merchant_name,merchant_type,merchant_geoid,merchant_departement,merchant_province,merchant_district,merchant_lon,merchant_lat
0,PJ1MmUtnJoo=,2016-06-01 20:22:13+02,5533,PE,230.0,70.919580,1,69.0,M,TD,52438230,IZA MOTORS PERU SAC,Venta de repuestos para vehiculos,150132,LIMA,LIMA,San Juan De Luriganc,-11.979603,-77.004344
1,AQhFrCiSF78=,2016-09-13 23:10:35+02,5533,PE,14.0,4.316844,1,43.0,F,TD,52438230,IZA MOTORS PERU SAC,Venta de repuestos para vehiculos,150132,LIMA,LIMA,San Juan De Luriganc,-11.979603,-77.004344
2,aBM/ALhZK9k=,2017-04-13 16:21:15+02,5533,PE,345.0,106.379370,1,24.0,M,TD,52438230,IZA MOTORS PERU SAC,Venta de repuestos para vehiculos,150132,LIMA,LIMA,San Juan De Luriganc,-11.979603,-77.004344
3,8f3H6sKptnU=,2017-04-04 18:17:22+02,5533,PE,460.0,141.839160,1,70.0,M,TD,52438230,IZA MOTORS PERU SAC,Venta de repuestos para vehiculos,150132,LIMA,LIMA,San Juan De Luriganc,-11.979603,-77.004344
4,WoNB5LNBqHw=,2016-11-27 13:26:51+01,5533,PE,12.0,3.700152,1,38.0,M,TD,52438230,IZA MOTORS PERU SAC,Venta de repuestos para vehiculos,150132,LIMA,LIMA,San Juan De Luriganc,-11.979603,-77.004344

# **Pre procesamiento**

### **1) Imputacion de la edad de los clientes**

**Intento de imputación de datos en la columna client_age basandose en la media de cada uno de los tipos de negocio(merchant_type). Falla debido a que en el tipo de negocio que faltan datos no existe ni un solo dato, es decir que todos son NAN, es por eso que la media tambien sale NAN**

In [4]:
#Imputacion de la edad faltante haciendo uso de la media de cada uno de los tipos de negocio(merchant_type)
pd.options.mode.chained_assignment = None 
def imput_age():
    merchant_type=dataset.merchant_type.unique() #Obtenemos todos los tipos de negocio
    merchant_mean={}#Diccionario para almacenar las medias por cada negocio. Forma {tipo_negocio:media}
    for merchant in merchant_type:
        merchant_mean[merchant]=dataset.client_age[dataset.merchant_type == merchant].mean() #Almacenamos la media
        if True in (dataset[dataset.merchant_type == merchant].isnull().any(axis=1)): #Comprobamos si el tipo de negocio tiene valores vacios para imputar
            dataset.client_age[dataset.merchant_type == merchant]=dataset.client_age[dataset.merchant_type == merchant].fillna(merchant_mean[merchant])
    return merchant_mean

In [5]:
imput_age()

{'Venta de repuestos para vehiculos': 42.40708705357143,
 'Discotecas, peñas, bares y pubs': 30.977995986238533,
 'Tiendas por departamentos': 40.35379734085415,
 'Restaurants': 35.35444654985203,
 'Pago de Impuestos': 43.24818401937046,
 'Equipos de Telecomunicaciones': 38.13540766349755,
 'Farmacias, droguerias y perfumerias': 38.08521027738719,
 'Laboratorios medicos y dentales': 37.76720351390922,
 'Casinos y juegos de azar': 40.787186000564496,
 'Cafeterias, snacks, servicio express': 34.679869133443354,
 'Grifos, servicio': 38.37651483493523,
 'Venta de Pinturas, Empapelados,Vidrierias y Esp.': 41.493261455525605,
 'Peluquerias': 36.405902102845026,
 'Hoteles': 34.310172570390556,
 'Opticos': 38.982142857142854,
 'Talleres de reparacion general para vehiculos': 42.34108527131783,
 'Zapaterias': 36.02783361682388,
 'Tiendas de ventas especializadas al menudeo': 33.30014641288433,
 'Dentistas, ortodoncistas': 33.95185185185185,
 'Alquiler equipo y mobiliario domestico o indust.': 40.75,
 'Lenceria y ropa interior': 33.43104514533086,
 'Salas de juego de video, pinball': 38.45566502463054,
 'Materiales y Acabados de Construccion': 42.21459369817579,
 'Supermercados, Minimercados': 34.72785768357305,
 'Licorerias y botillerias': 32.16,
 'Ba?os turcos y centros de estetica': 33.86314152410576,
 'Parque de diversiones': 42.4,
 'EQUIPOS Y ACCESORIOS DE LAB. MEDICOS': 55.19047619047619,
 'Ferreterias': 43.45454545454545,
 'Boutique de ropa para mujeres': 37.87688098495212,
 'Clinicas y centros medicos': 36.71994884910486,
 'Tienda de ropa para toda la familia': 37.575,
 'Mueblerias': 36.380503144654085,
 'Lavanderias': 43.09342560553633,
 'Academias, universidades,estudios superiores': 32.67741935483871,
 'Oculistas y contactologos': 43.99425287356322,
 'Pedicuristas y podologos': 36.92307692307692,
 'Panaderias y pastelerias': 33.55555555555556,
 'Tiendas mayoristas': nan,
 'Medicos en general': 44.77777777777778,
 'Librerias, imprentas y editoriales': 40.90677966101695,
 'Servicios Medicos': 38.36363636363637,
 'VENTA GAS (BALONES), CARBÓN, OTROS COMBUSTIBLES': 41.25075528700906,
 'Funerarias y crematorios': 45.1,
 'Sastres, modistas': 41.041666666666664,
 'Tiendas de juguetes y juegos': 33.43269230769231,
 'Tienda de ropa deportiva': 39.3374613003096,
 'Tiendas de equipos deportivos': 37.708333333333336,
 'TIENDAS DE ROPA': nan,
 'Tiendas Electrodomesticos y Aparatos Para el Hogar': 31.895454545454545,
 'Venta y servicio de protesis auditiva': 51.45454545454545,
 'Quiropracticos y servicios de rehabilitacion': 41.95031055900621,
 'Bazares y tiendas de regalos': 36.68518518518518,
 'Servicios legales y abogados': 43.67039106145251,
 'Agencia de detectives y servicio de proteccion': 46.75,
 'Contratistas generales de edif. res. y comerc.': nan,
 'Venta y servicio de llantas': 41.73913043478261,
 'Servicio de Currier': 34.06666666666667,
 'Tiendas de articulos musicales': 32.666666666666664,
 'Pago de cuotas a clubes': 30.350515463917525,
 'Electrodomesticos y equipos de sonido': 31.62857142857143,
 'Tienda de ropa para ni?os y bebes': 40.34782608695652,
 'Confiterias y dulcerias': 32.86666666666667,
 'Colegios y nidos': 38.827586206896555,
 'Tiendas de artesanias y souveniers': 33.857142857142854,
 'Lavado de vehiculos': 41.81818181818182,
 'Organizaciones sin fines de lucro': nan,
 'Venta de autos y camiones, nuevos y usados': nan,
 'Asociaciones automovilisticas': nan,
 'Boutique de ropa para hombres': 39.68181818181818,
 'Venta de motocicletas': 36.04347826086956,
 'Venta de cosmeticos': nan,
 'SERVICIOS DE ELECTRICIDAD, GAS, AGUA Y SANITARIOS': nan,
 'Casa de empe?o': nan,
 'Venta de tapices, cortinas y persianas': 45.13333333333333,
 'Servicios Escolares y Educativos No Clasificados.': 30.047619047619047,
 'Escuelas de baile': 29.90909090909091,
 'Tiendas de mascotas, incluye accesorios': 40.96969696969697,
 'Bodegas y pastas': 44.6231884057971,
 'Servicios de Telecomunicaciones': 30.692307692307693,
 'Servicio de consultoria administrativa y relaci.': 45.5,
 'Venta y reparacion de bicicletas': 39.64,
 'Servicio de alquiler de ropa': nan,
 'Joyerias, relojerias y platerias': 50.8,
 'Salones de masajes': nan,
 'Carpinteria': nan,
 'Tiendas de decoracion en general': 41.81818181818182,
 'Heladerias y productos lacteos': nan,
 'Tiendas de articulos diversos': nan,
 'Computadoras, equipos perif. de comp., software': 41.0,
 'Tiendas de cigarros, tabaquerias': nan,
 'Actividades comerciales no clasificadas': nan,
 'Contratistas en Instalaciones en General': 47.92424242424242,
 'Alquiler de automoviles': 32.25,
 'Escuelas de arte y oficios': nan,
 'Venta de seguros y reaseguros': nan,
 'Campos deportivos y de recreacion': 27.0,
 'Servicios profesionales': 34.5,
 'Proveederos para fiestas y banquetes': 47.75,
 'Agencia de publicidad': 43.0,
 'Agencias de Viajes': 57.0,
 'Mayoristas de productos metalicos': nan,
 'Estudios fotograficos': nan,
 'MARKETING DIRECTO SALIENTE': nan,
 'Venta por catalogo': nan}

### **2) Transformación del tipo de datos**

In [6]:
cols_to_transform=['mcc','merchant_id','merchant_geoid']
for col in cols_to_transform:
    dataset[col]=dataset[col].astype(str)

### **3) Dropeo de columnas innecesarias**

**Dropearemos las columnas que tienen valores únicos**

In [7]:
dataset.shape

(300000, 19)

In [8]:
cols_to_drop=['country_code','merchant_departement','merchant_province']
dataset=dataset.drop(cols_to_drop,axis=1)

In [9]:
dataset.shape

(300000, 16)

### **4) Splitting date**

In [10]:
def splittingDate(data):
    año=[datetime.strptime(date.split('+')[0], "%Y-%m-%d %H:%M:%S").year for date in data.date]
    mes=[datetime.strptime(date.split('+')[0], "%Y-%m-%d %H:%M:%S").month for date in data.date]
    dia=[datetime.strptime(date.split('+')[0], "%Y-%m-%d %H:%M:%S").day for date in data.date] 
    hora=[datetime.strptime(date.split('+')[0], "%Y-%m-%d %H:%M:%S").hour for date in data.date] 
    minuto=[datetime.strptime(date.split('+')[0], "%Y-%m-%d %H:%M:%S").minute for date in data.date] 
    segundo=[datetime.strptime(date.split('+')[0], "%Y-%m-%d %H:%M:%S").second for date in data.date] 
    
    data['Year']=año
    data['Month']=mes
    data['Day']=dia
    data['Hour']=hora
    data['Minute']=minuto
    data['Second']=segundo
    #eliminamos la columna que se dividió
    #data.drop('Last Updated',axis=1,inplace=True)

In [11]:
splittingDate(dataset)

In [12]:
dataset.head()

,client_id,date,mcc,amount_sol,amount_usd,nb_transaction,client_age,client_gender,debit_type,merchant_id,...,merchant_geoid,merchant_district,merchant_lon,merchant_lat,Year,Month,Day,Hour,Minute,Second
0,PJ1MmUtnJoo=,2016-06-01 20:22:13+02,5533,230.0,70.919580,1,69.0,M,TD,52438230,...,150132,San Juan De Luriganc,-11.979603,-77.004344,2016,6,1,20,22,13
1,AQhFrCiSF78=,2016-09-13 23:10:35+02,5533,14.0,4.316844,1,43.0,F,TD,52438230,...,150132,San Juan De Luriganc,-11.979603,-77.004344,2016,9,13,23,10,35
2,aBM/ALhZK9k=,2017-04-13 16:21:15+02,5533,345.0,106.379370,1,24.0,M,TD,52438230,...,150132,San Juan De Luriganc,-11.979603,-77.004344,2017,4,13,16,21,15
3,8f3H6sKptnU=,2017-04-04 18:17:22+02,5533,460.0,141.839160,1,70.0,M,TD,52438230,...,150132,San Juan De Luriganc,-11.979603,-77.004344,2017,4,4,18,17,22
4,WoNB5LNBqHw=,2016-11-27 13:26:51+01,5533,12.0,3.700152,1,38.0,M,TD,52438230,...,150132,San Juan De Luriganc,-11.979603,-77.004344,2016,11,27,13,26,51